


<div class="panel panel-primary"  >
    <div class="panel-heading">Information des Différents Titres Restaurant</div>

    <div class="panel-body" >

        <p>
            <strong>Montant total : {{calcultotal * 0.01}} € </strong>
        </p>
        <p>
            <strong>   Nombre de ticket total :  {{calculnbretotal}} </strong>
        </p>

    </div>



</div>
