{% extends "base.html.twig" %}


{% block body %}

    <div class="row">
        <div class="col-md-6" >
            <div class="panel panel-primary" id="recapitulatif" >
                <div class="panel-heading">Détails</div>
                <table class="table table-striped">

                    <thead >
                    <th>Opérateur</th>
                    <th>Nombre ticket total</th>
                    <th>Valeur ticket total</th>


                    </thead>
                    <tbody class="text-center">
                        {% for item in Caisse %}
                            <tr>
                                <td>
                                    {{item.operateur}} 
                                </td>
                                <td>
                                    {{item.c}} 
                                </td>  
                                <td>
                                    {{item.s * 0.01 }} €
                                </td>  
                            </tr>


                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
 
    </div>
    <a type="button" class="btn btn-primary" href="{{path('index')}}" >Retour</a>


{% endblock %}
