


<div class="panel panel-primary">
    <div class="panel-heading">Information des Kadéos</div>

    <div class="panel-body" >
        
        <p><strong>Montant des Kadéos : {{ sum /100 }}€ </strong></p>
        <p><strong>Nombre de ticket total : {{ count }}</strong></p>

        <a data-toggle="modal" data-target="#kadeos" id="ajouter"  type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>

    </div>
</div>