/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 mai 2015, 16:00:28
    Author     : jrbebel
*/

#left{
    padding-top: 10px;
}

#jumbotron{
    margin-top: 10px;

}

#tableau{

    height:500px;
    overflow:auto;  
    margin-top:20px;

}

#doc{
    margin-top: 400px;
    margin-left: 200px;
}

#espace{
    padding-left:100px;
    padding-bottom: 20px;
}

#info{
    padding-left: 350px;
}

#ajouter{
    float:right;
}

/*Style pour les icones cliquables dans le header*/

.iconopt{
    margin:  10px;

}
.iconinfopt{
    color: #337ab7;
    margin-top: 10px;
    padding-top: 10px;

}
.textopt{
    text-align: center;
    margin:2px;
}

.lienopt{
    color:white;
}
.lienopt:hover{
    color:white;
}

p{
    font-family: 'Arimo', sans-serif;
}


/*Css dans le body*/

#index{
    margin-top: 80px;

}
.panel-body > p {
    font-size: medium;
    font-family: 'Arimo';
}
.panel-heading{
    font-size: medium;
}
th{
    text-align: center;
}
tbody{
    text-align: center;
}
/*Css dans la page recapitulatif*/

#recapitulatif{
    margin-top: 50px;
}